.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }






@media(min-width: 375px) and (max-width:1439px) {

    html, body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: hsl(0, 0%, 100%);
        background-color: hsl(233, 47%, 7%);
        width: 100vw;
        height: 100vh;
        font-family: "Lexend Deca", sans-serif;
        }

    main {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: fit-content;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
    }
    .imagem {
        background-color:  hsl(277, 64%, 61%);
        border-radius: 10px 10px 0px 0px;
    }
    .imagem img {
        width: 100%;
        object-fit: contain;
        height: auto;
        border-radius: 10px 10px 0px 0px;
        opacity: 0.5;
    }

    .info, div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-text, h1, p {
        text-align: center;
        margin-top: 50px;
    }

    bold {
        color: hsl(277, 64%, 61%);
    }

    .textos{
        margin: 0px 10px;
    }
    .textos, h1, p {
        margin: 5px;
        margin-bottom: 10px;
    }

}


   
   
   


@media (min-width: 1440px) {
    html, body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: hsl(0, 0%, 100%);
        background-color: hsl(233, 47%, 7%);
        width: 100vw;
        height: 100vh;
        font-family: "Lexend Deca", sans-serif;
        }

    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80vw;
        height: fit-content;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
    }
    .imagem {
        background-color:  hsl(277, 64%, 61%);
        border-radius: 10px 10px 0px 0px;
    }
    .imagem img {
        width: 100%;
        object-fit: contain;
        height: auto;
        border-radius: 10px 10px 0px 0px;
        opacity: 0.5;
    }
    
    .info > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        margin: 50px 50px;
        text-align: justify;
    }

    .info-text > h1{
        font-size: 40px;
    }

    bold {
        color: hsl(277, 64%, 61%);
    }

    .textos {
        display: flex;
        flex-direction: row;
    }

    .textos, h1, p {
        margin: 5px;
        margin-bottom: 10px;
    }
}



